
:root {

    /* Material Design baseline light theme */
    --color-primary: #6200ee;
    --color-primary-variant: #3700be;
    --color-secondary: #03dac6;
    --color-secondary-variant: #018786;

    --color-background: #ffffff;
    --color-surface: #ffffff;

    --color-error: #b00020;

    --color-on-primary: #ffffff;
    --color-on-secondary: #000000;

    --color-on-background: #000000;
    --color-on-surface: #000000;

    --color-on-error: #ffffff;


    /* Volcano Vista High School display preferences */
    /* default colors for light catalog */
    @media (prefers-color-scheme: light) {

        --color-primary: #181818;
        --color-primary-variant: #121212;
        --color-secondary: #6200EE;
        --color-secondary-variant: #3700b3;
        
        --color-background: #ffffff;
        --color-surface: #ffffff;

        --color-error: #b00020;

        --color-on-primary: #ffffff;
        --color-on-secondary: #000000;

        --color-on-background: #000000;
        --color-on-surface: #000000;

        --color-on-error: #000000;       
    }



    /* Material Design baseline dark theme */
    @media (prefers-color-scheme: dark) {
        --color-primary: #BB86FC;
        --color-primary-variant: #3700b3;
        --color-secondary: #03dac6;
        --color-secondary-variant: var(--color-secondary);

        --color-background: #121212;
        --color-surface: #202020;

        --color-error: #cf6679;

        --color-on-primary: #ffffff;
        --color-on-secondary: #000000;

        --color-on-background: #ffffff;
        --color-on-surface: #ffffff;

        --color-on-error: #000000;
    }     


    --color-header-background: var(--color-primary-variant);
    --color-header-foreground: var(--color-on-primary);

    --color-highlight: var(--color-secondary);
    --color-highlight-variant: var(--color-secondary-variant);

    --color-menu-background: var(--color-surface);
    --color-menu-foreground: var(--color-on-surface);
    --color-menu-links: var(--color-on-surface);
    --color-menu-links-visited: var(--color-on-surface);

    --color-content-background: var(--color-background);
    --color-content-foreground: var(--color-on-background);
    --color-content-links: var(--color-on-background-link);
    --color-content-links-visited: var(--color-on-background-link);

    --color-footer-background: var(--color-header-background);
    --color-footer-foreground: var(--color-header-foreground);

    --color-main-h2: var(--color-secondary);
    --color-main-h3: var(--color-secondary);
    --color-main-text: var(--color-on-background);

    --color-hr: lightgray;

    --font-size: 1.0rem;

    --font-size-h1: 1.5rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.1rem;
    --font-size-h4: 1.0rem;
    --font-size-h5: 1.0rem;


    --font-size-text: var(--font-size);
    --font-size-links: var(--font-size);
}


body {
    font-family: sans-serif;
    font-size: var(--font-size);

    background-color: var(--color-content-background);
    color: var(--color-content-foreground);
}

header, footer, .navbar {
    background-color: var(--color-header-background);
    color: var(--color-header-foreground);
}

.header-container {
    display: flex;
    flex: row;
    justify-content: space-between;
}

header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main h1, main h2 {
    color: var(--color-highlight);
}

main h3, main h4, main h5 {
    color: var(--color-highlight-variant);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: bold;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: bold;
}

